In [1]:
import json

In [2]:
from australian_housing.data.extract_dataframe import AustralianHousingLoader
from australian_housing import paths

In [3]:
with open(paths.manager.raw_data_file) as f:
    loader = AustralianHousingLoader(json.load(f))

In [4]:
df = loader.to_dataframe()

In [5]:
df.head()

,Measure,Sector of Ownership,Type of work,Type of building,Geography Level,Region,Frequency,Value
Time,,,,,,,,
2011-07-01,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,14.0
2011-08-01,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,17.0
2011-09-01,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,21.0
2011-10-01,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,15.0
2011-11-01,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,15.0