In [11]:
import json

In [5]:
from australian_housing.data.extract_dataframe import AustralianHousingLoader

In [12]:
with open('../data/raw/australian_housing.json') as f:
    loader = AustralianHousingLoader(json.load(f))

In [13]:
df = loader.to_dataframe()

In [14]:
df.head()

,Measure,Sector of Ownership,Type of work,Type of building,Geography Level,Region,Frequency,Time,Value
0,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,Jul-2011,14.0
1,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,Aug-2011,17.0
2,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,Sep-2011,21.0
3,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,Oct-2011,15.0
4,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,Nov-2011,15.0