# Loading and Decoding Dataset

[▲ Overview](0.0-Overview.ipynb)

[◀ Understanding Dataset Structure](1.1-Exploring-dataset-structure.ipynb)

[▶ Extracting Time Series](2.1-Extracting-timeseries.ipynb)

In [1]:
import json

In [2]:
from australian_housing.data.extract_dataframe import AustralianHousingLoader
from australian_housing import paths

The class `australian_housing.data.extract_dataframe.AustralianHousingLoader` employs the encoding information from `structure.dimensions.observation` to decode the keys in `dataSets.0.observations`. The dataset can then be turned into a readable dataframe.

In [3]:
with open(paths.manager.raw_data_file) as f:
    loader = AustralianHousingLoader(json.load(f))

In [4]:
df = loader.to_dataframe()

In [5]:
df.head()

,Measure,Sector of Ownership,Type of work,Type of building,Geography Level,Region,Frequency,Value
Time,,,,,,,,
2011-07-01,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,14.0
2011-08-01,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,17.0
2011-09-01,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,21.0
2011-10-01,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,15.0
2011-11-01,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,15.0

In [6]:
df.tail()

,Measure,Sector of Ownership,Type of work,Type of building,Geography Level,Region,Frequency,Value
Time,,,,,,,,
2017-03-01,Total number of dwelling units,Total Sectors,New,Total Residential,Australia,Australia,Monthly,17438.0
2017-04-01,Total number of dwelling units,Total Sectors,New,Total Residential,Australia,Australia,Monthly,16516.0
2017-05-01,Total number of dwelling units,Total Sectors,New,Total Residential,Australia,Australia,Monthly,18406.0
2017-06-01,Total number of dwelling units,Total Sectors,New,Total Residential,Australia,Australia,Monthly,19149.0
2017-07-01,Total number of dwelling units,Total Sectors,New,Total Residential,Australia,Australia,Monthly,19752.0

[▲ Overview](0.0-Overview.ipynb)

[◀ Understanding Dataset Structure](1.1-Exploring-dataset-structure.ipynb)

[▶ Extracting Time Series](2.1-Extracting-timeseries.ipynb)