In [2]:
import pandas as pd
from australian_housing import paths
from australian_housing.data.extract_timeseries import new_south_wales_index

In [3]:
df = pd.read_csv(paths.manager.interim_data_file)

In [4]:
df.head()

,Time,Measure,Sector of Ownership,Type of work,Type of building,Geography Level,Region,Frequency,Value
0,2011-07-01,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,14.0
1,2011-08-01,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,17.0
2,2011-09-01,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,21.0
3,2011-10-01,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,15.0
4,2011-11-01,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,15.0

In [5]:
df['Measure'].unique()

array(['Total number of dwelling units'], dtype=object)

In [6]:
df['Sector of Ownership'].unique()

array(['Total Sectors'], dtype=object)

In [7]:
df['Type of work'].unique()

array(['New'], dtype=object)

In [8]:
df['Type of building'].unique()

array(['Houses',
       'Semi-detached, row or terrace houses, townhouses - One storey',
       'Semi-detached, row or terrace houses, townhouses - Two or more storeys',
       'Semi-detached, row or terrace houses, townhouses - Total',
       'Flats units or apartments - In a one or two storey block',
       'Flats units or apartments - In a three storey block',
       'Flats units or apartments - In a four or more storey block',
       'Flats units or apartments - Total including those attached to a house',
       'Total Other Residential', 'Total Residential'], dtype=object)

In [9]:
df['Geography Level'].unique()

array(['Statistical Area Level 3', 'Statistical Area Level 4',
       'States and Territories', 'Australia'], dtype=object)

In [10]:
df['Region'].unique()

array(['Gosford', 'Central Coast', 'New South Wales', 'Australia'],
      dtype=object)

In [11]:
nsw = df[new_south_wales_index(df)]
nsw

,Time,Measure,Sector of Ownership,Type of work,Type of building,Geography Level,Region,Frequency,Value
1460,2011-07-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1511.0
1461,2011-08-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1634.0
1462,2011-09-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1561.0
1463,2011-10-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1485.0
1464,2011-11-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1594.0
1465,2011-12-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1207.0
1466,2012-01-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,982.0
1467,2012-02-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1243.0
1468,2012-03-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1327.0
1469,2012-04-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1057.0
1470,2012-05-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1535.0
1471,2012-06-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1312.0
1472,2012-07-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1709.0
1473,2012-08-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1589.0
1474,2012-09-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1514.0
1475,2012-10-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1848.0
1476,2012-11-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1654.0
1477,2012-12-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1339.0
1478,2013-01-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1238.0
1479,2013-02-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1581.0
1480,2013-03-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1589.0
1481,2013-04-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1575.0
1482,2013-05-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2075.0
1483,2013-06-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1666.0
1484,2013-07-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1920.0
1485,2013-08-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1862.0
1486,2013-09-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1928.0
1487,2013-10-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2024.0
1488,2013-11-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2154.0
1489,2013-12-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1682.0
...,...,...,...,...,...,...,...,...,...
1503,2015-02-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2144.0
1504,2015-03-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2315.0
1505,2015-04-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2218.0
1506,2015-05-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2503.0
1507,2015-06-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2592.0
1508,2015-07-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2748.0
1509,2015-08-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2454.0
1510,2015-09-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2321.0
1511,2015-10-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2524.0
1512,2015-11-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2534.0
1513,2015-12-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2137.0
1514,2016-01-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1742.0
1515,2016-02-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2329.0
1516,2016-03-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2591.0
1517,2016-04-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2482.0
1518,2016-05-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,3006.0
1519,2016-06-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2461.0
1520,2016-07-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2381.0
1521,2016-08-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2801.0
1522,2016-09-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2592.0
1523,2016-10-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2475.0
1524,2016-11-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2657.0
1525,2016-12-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2007.0
1526,2017-01-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1593.0
1527,2017-02-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2453.0
1528,2017-03-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2771.0
1529,2017-04-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1934.0
1530,2017-05-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2821.0
1531,2017-06-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2726.0
1532,2017-07-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2654.0