# Extracting Time Series

[▲ Overview](0.0-Overview.ipynb)

[◀ Loading and Decoding Dataset](2.0-Loading-dataset.ipynb)

[▶ Data Exploration](3.0-Exploring-timeseries.ipynb)

In [1]:
import pandas as pd
from australian_housing import paths
from australian_housing.data.extract_timeseries import new_south_wales_index

In [2]:
df = pd.read_csv(paths.manager.interim_data_file, index_col=0)

In [3]:
df.head()

,Measure,Sector of Ownership,Type of work,Type of building,Geography Level,Region,Frequency,Value
Time,,,,,,,,
2011-07-01,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,14.0
2011-08-01,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,17.0
2011-09-01,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,21.0
2011-10-01,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,15.0
2011-11-01,Total number of dwelling units,Total Sectors,New,Houses,Statistical Area Level 3,Gosford,Monthly,15.0

In [4]:
for head in ('Measure', 'Sector of Ownership', 'Type of work', 'Type of building', 'Geography Level', 'Region', 'Frequency'):
    df[head] = df[head].astype('category')
df.describe(include='category')

,Measure,Sector of Ownership,Type of work,Type of building,Geography Level,Region,Frequency
count,2920,2920,2920,2920,2920,2920,2920
unique,1,1,1,10,4,4,1
top,Total number of dwelling units,Total Sectors,New,Total Residential,Statistical Area Level 4,New South Wales,Monthly
freq,2920,2920,2920,292,730,730,2920

In this dataset `Measure`, `Sector of Ownership`, `Type of work` and `Frequency` do not contain further information. For `Type of building`, `Geography Level`, and `Region` we need to select the correct values requested in the exercise (`Type of building` = `Houses`, `Geography Level` = `States and Territories`, and `Region` = `New South Wales`).

In [5]:
df['Measure'].unique()

[Total number of dwelling units]
Categories (1, object): [Total number of dwelling units]

In [6]:
df['Sector of Ownership'].unique()

[Total Sectors]
Categories (1, object): [Total Sectors]

In [7]:
df['Type of work'].unique()

[New]
Categories (1, object): [New]

In [8]:
df['Type of building'].unique()

[Houses, Semi-detached, row or terrace houses, townhous..., Semi-detached, row or terrace houses, townhous..., Semi-detached, row or terrace houses, townhous..., Flats units or apartments - In a one or two st..., Flats units or apartments - In a three storey ..., Flats units or apartments - In a four or more ..., Flats units or apartments - Total including th..., Total Other Residential, Total Residential]
Categories (10, object): [Houses, Semi-detached, row or terrace houses, townhous..., Semi-detached, row or terrace houses, townhous..., Semi-detached, row or terrace houses, townhous..., ..., Flats units or apartments - In a four or more ..., Flats units or apartments - Total including th..., Total Other Residential, Total Residential]

In [9]:
df['Geography Level'].unique()

[Statistical Area Level 3, Statistical Area Level 4, States and Territories, Australia]
Categories (4, object): [Statistical Area Level 3, Statistical Area Level 4, States and Territories, Australia]

In [10]:
df['Region'].unique()

[Gosford, Central Coast, New South Wales, Australia]
Categories (4, object): [Gosford, Central Coast, New South Wales, Australia]

In [11]:
nsw = df[new_south_wales_index(df)]
nsw

,Measure,Sector of Ownership,Type of work,Type of building,Geography Level,Region,Frequency,Value
Time,,,,,,,,
2011-07-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1511.0
2011-08-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1634.0
2011-09-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1561.0
2011-10-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1485.0
2011-11-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1594.0
2011-12-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1207.0
2012-01-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,982.0
2012-02-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1243.0
2012-03-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1327.0
2012-04-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1057.0
2012-05-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1535.0
2012-06-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1312.0
2012-07-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1709.0
2012-08-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1589.0
2012-09-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1514.0
2012-10-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1848.0
2012-11-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1654.0
2012-12-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1339.0
2013-01-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1238.0
2013-02-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1581.0
2013-03-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1589.0
2013-04-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1575.0
2013-05-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2075.0
2013-06-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1666.0
2013-07-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1920.0
2013-08-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1862.0
2013-09-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1928.0
2013-10-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2024.0
2013-11-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2154.0
2013-12-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1682.0
...,...,...,...,...,...,...,...,...
2015-02-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2144.0
2015-03-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2315.0
2015-04-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2218.0
2015-05-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2503.0
2015-06-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2592.0
2015-07-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2748.0
2015-08-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2454.0
2015-09-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2321.0
2015-10-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2524.0
2015-11-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2534.0
2015-12-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2137.0
2016-01-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1742.0
2016-02-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2329.0
2016-03-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2591.0
2016-04-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2482.0
2016-05-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,3006.0
2016-06-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2461.0
2016-07-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2381.0
2016-08-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2801.0
2016-09-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2592.0
2016-10-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2475.0
2016-11-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2657.0
2016-12-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2007.0
2017-01-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1593.0
2017-02-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2453.0
2017-03-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2771.0
2017-04-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,1934.0
2017-05-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2821.0
2017-06-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2726.0
2017-07-01,Total number of dwelling units,Total Sectors,New,Houses,States and Territories,New South Wales,Monthly,2669.0

In [12]:
nsw[['Value']].head()

             Value
Time
2011-07-01  1511.0
2011-08-01  1634.0
2011-09-01  1561.0
2011-10-01  1485.0
2011-11-01  1594.0

[▲ Overview](0.0-Overview.ipynb)

[◀ Loading and Decoding Dataset](2.0-Loading-dataset.ipynb)

[▶ Data Exploration](3.0-Exploring-timeseries.ipynb)